/* ----------------Registreren + Login---------------------- */

.input_signup p
{
  font-size: 12px;
  color: #fff;
}
.form_signup
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.input_signup
{
  margin-top: 1em;
  font-size: 20px;
}

.input_signup input
{
  width: 350px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.submit_signup
{
  cursor: pointer;
  font-family: sans-serif;
   margin-top: 15px;
   background-color: #1ABC9C;
   text-transform: uppercase;
   width: 250px;
   height: 45px;
   color: #fff;
   border: none;
   font-weight: bold;
   border-radius: 30px;
}

.error_signup
{
  width: 250px;
  padding: 15px;
  background-color: #DA4741;
  color: #fff;
}

.link_to_login
{
  margin-top: 20px;
  margin-bottom: 40px;
}

.Login {
    margin-left: 25px;
    margin-top: 75px;
    text-align: center;
}

/* -----------------Edit profile feature 3------------------ */
.btn {
  font-family: sans-serif;
  margin-top: 15px;
  background-color: #1ABC9C;
  text-transform: uppercase;
  width: 250px;
  height: 45px;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 30px;
}

.btn:hover, .show-posts:hover, .submit_signup:hover, .follow_button:hover  {
background-color: #fff; /*#1db954, #62CC35, #53B32B*/
border-style: solid;
border-color: #1ABC9C;
color: #1ABC9C;
}

.edit_profile {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  /*padding-top: 50px;*/
}

.edit_profile input {
  width: 380px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.form__error p, .form__success p {
  padding-bottom: 30px;
  text-align: center;
  padding-top: 30px;
  font-size: 0.9em;
  margin-bottom: 30px;
}
.form__error p {
  color: red;
}
.form__success p {
  color: green;
}
/* --------------einde edit profile feature 3---------------- */

/* ----------------Search ----------------- */
.search {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.input_search {
  width: 200px;
  height: 30px;
}

.btn_search {
  cursor: pointer;
  background-color: #1ABC9C;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  width: 40px;
  height: 30px;
  color: #fff;
  border: none;
}

.search_results{
  margin-top: 100px;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.search_results h1
{
  font-size: 20px;
  margin-bottom: 50px;
}

.search_results nav
{
  background-color: inherit;
  font-size: 20px;
}

.search_results nav a
{
  text-decoration: none;
  margin-right: 50px;
  color: #1ABC9C;
}
/*-------- profile_details -------*/

/*checkbox*/
.form-check-input{
  left:0;
  right:0;
}
.input_signup input[type="checkbox"]{
  width: 300px;
}
/*-------------Einde Search ----------------------*/