body{
    font-family: 'Muli', sans-serif;
    font-size: 1.2em;
}
/*-----------------HEADER START----------*/
ul {
    list-style-type: none;
    margin: 0;
    margin-top: 40px;
    overflow: hidden;
    font-size: 1.2em;

  }
  
  li {
    display: inline;
    
  }
  
  li a {
    color: red;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;
    font-weight: 600;
  }

.log {
    padding-left: 70px;
  }

  /*-----------------HEADER END----------*/

 /*-----------------MAIN START----------*/
 
 .headermain{
    margin: 0 auto;
    text-align: center;
    height: 20%;
    color: green;
}

.main{
    background-color: red;
    padding-bottom: 150px;
    padding-top: 150px;

}

.main h3{
    color: white;
    font-weight: 600;
    font-size: 1.5em;
    margin-left: 5em;
    margin-top: 2.5em;
}

.main2{
    padding-left: 260px;
    padding-top: 120px;  
}

.main2 h2{
    font-weight: 600;
    font-size: 2em ;
}

#register{
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 600;
    width: 60%;
    height: 40px;
    border-radius: 30px;
    background-color: red;
    border: none;
}

#login{
    font-weight: 600;
    font-size: 1.5em;
    width: 60%;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    border: solid red 2px;
    color: red;
}

#register:hover{
    margin-top: 20px;
    font-weight: 600;
    width: 60%;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    border: solid red 2px;
    color: red;
}

#login:hover{
    font-weight: 600;
    width: 60%;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    border: solid red 3px;
    color: red;
}
  /*-----------------MAIN END----------*/
  /*-----------------REGISTER START----------*/
.register{
    width: 40%;
    height: 40%;
    margin: 10px auto;
   
    padding: 10px 50px;
    text-align: center;
}

.submit_signup{
    height: 50px;
    border-radius: 30px;
    width: 60%;
}

.header{
    border: none;
    margin-bottom: 30px;
}

.input-md{
    height: 55px;
    margin-bottom: 5px;
}

.submit_signup{
    margin-top: 20px;
    color: white;
    font-weight: 600;
    background-color: red;
    border: none;
}

.submit_signup:hover{
    margin-top: 20px;
    font-weight: 600;
    background-color: white;
    border: solid red 3px;
    color: red;
}

.login{
    margin-top: 10px;
}

.error_signup {
    color: red;
    margin-bottom: 20px;
    padding: 5px 0;
    font-size: 1.5em;
    color: white;
    background-color:  red;
}

  /*-----------------REGISTER END----------*/

  /*-----------------INDEX START----------*/
  .index{
      margin-top: 50px;
  }
  
  .index p{

      font-size: 1em;
  }
/*-----------------INDEX END----------*/

/*-----------------DETAILS START----------*/

.details{
    width: 60%;
    height: 40%;
    margin: 10px auto;
    padding: 10px 50px;
    text-align: center;
    }  

 .header h3{
font-size: 1.2em;
}


.skip{
    background-color: unset; 
    color: black;   
}

.skip:hover{
 background-color: unset;    
 color: red;   
 border: none;
 text-decoration: underline;
}

.radio p{
    text-align: left;
    color: rgb(155, 155, 155);
}
/*-----------------DETAILS END----------*/
