body{
    font-family: 'Muli', sans-serif;
}
/*-----------------HEADER START----------*/
ul {
    list-style-type: none;
    margin: 0;
    margin-top: 40px;
    overflow: hidden;
    font-weight: 900;
    font-size: 1.5em;

  }
  
  li {
    display: inline;
    
  }
  
  li a {
    color: red;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;
  }

.log {
    padding-left: 70px;
  }

  /*-----------------HEADER END----------*/

 /*-----------------MAIN START----------*/
 
 .headermain{
    margin: 0 auto;
    text-align: center;
}

.main{
    background-color: red;
    padding-bottom: 150px;
    padding-top: 150px;

}

.main h3{
    color: white;
    font-weight: 600;
    font-size: 25px;
    margin-left: 5em;
    margin-top: 2.5em;
}

.main2{
    padding-left: 280px;
    padding-top: 170px;  
}

.main2 h2{
    font-weight: 600;
    font-size: 25px ;
}

#register{
    margin-top: 20px;
    font-weight: 600;
    width: 60%;
    height: 60px;
    border-radius: 30px;
    background-color: red;
    border: none;
}

#login{
    font-weight: 600;
    width: 60%;
    height: 60px;
    border-radius: 30px;
    background-color: white;
    border: solid red 2px;
    color: red;
}

#register:hover{
    margin-top: 20px;
    font-weight: 600;
    width: 60%;
    height: 60px;
    border-radius: 30px;
    background-color: white;
    border: solid red 2px;
    color: red;
}

#login:hover{
    font-weight: 600;
    width: 60%;
    height: 60px;
    border-radius: 30px;
    background-color: white;
    border: solid red 3px;
    color: red;
}
  /*-----------------MAIN END----------*/
  /*-----------------REGISTER START----------*/
.register{
    width: 25%;
    height: 40%;
    margin: 10px auto;
   
    padding: 10px 50px;
    text-align: center;
}

.submit_signup{
    height: 50px;
    border-radius: 30px;
    width: 60%;
}

.header{
    border: none;
    margin-bottom: 30px;
}

.input-md{
    height: 55px;
    margin-bottom: 5px;
}

.submit_signup{
    margin-top: 20px;
    color: white;
    font-weight: 600;
    background-color: red;
    border: none;
}

.submit_signup:hover{
    margin-top: 20px;
    font-weight: 600;
    background-color: white;
    border: solid red 3px;
    color: red;
}

.login{
    margin-top: 10px;
}

.error_signup {
    color: red;
    margin-bottom: 20px;
    padding: 5px 0;
    font-size: 1.5em;
    color: white;
    background-color:  red;
}

  /*-----------------REGISTER END----------*/

  /*-----------------INDEX START----------*/
  .index{
      margin-top: 50px;
  }
  
  .index p{

      font-size: 1.5em;
  }
    /*-----------------INDEX END----------*/


    .details{
        width: 25%;
        height: 40%;
        margin: 10px auto;
       
        padding: 10px 50px;
        text-align: center;
    }  